/* Navbar */
body{
  overflow-x: hidden;
}

  /* Carrers */

  .sub-heading{
    color: #0f62fe;
  }
  .content-des {
    padding: 10px 100px 20px 100px;
    font-size: 22px;
    color: #777777;
  }
  #border1 p{
     color: #000;
     font-size: 16px;
  }
  #border1{
    border-bottom:8px solid #FE0000 !important;
    border-radius: 10px !important;
  }
  #border1 span{
    font-size: 16px;
    }
  .border span{
    font-size: 16px;
  }
  footer {
    width: 100%;
    background-color: #333;
    color:#fff;
  }
  /* footer */
#table1,#table2,#table3{
  display: none;
}


.footer-details{
  background-color:#E8E8E8;
  padding: 10px 100px 20px 100px;
}  
.secondlist{
  margin-left: 30px;
}
.footer-details .col-3{
  padding: 20px;
}
.footer-details .col-3 img{
  padding-left: 8px;
}
.footerContent{
  font-size: 14px;
  color: #777777;
  font-weight: 400;
}
.footerlist p a{
  line-height: 1rem; 
   color: #000;
}
.footerlist a{
  line-height: 1rem;
}
.footerlist p a:hover {
  color: #28a745;
}
.footerimages img{
    transition: transform .7s ease-in-out;

}
.footerimages img:hover{
    transform: rotate(360deg);
}
.tableinfo{
  overflow-x: auto;
}

.sunimg{
  display: none;
}
.list{
  margin-bottom: 125px;
}
.toggle{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 35px;
  padding: 5px;
  background-color: #E8E8E8;
  color: #FE0000;
  cursor: pointer;
  margin-right: 40px;
}
.offcanvas{
  background-color: #75ACD5;
  color: white;
}
.offcanvas-body a{
  font-weight:bold;
}
.offcanvas-body a:hover, .navmenu span:hover{
  color: #FE0000;
  cursor: pointer;
}

.navbar{
  padding: 10px 150px 10px 150px;
}
@media screen and (max-width: 400px) {
  
  .mainimg{
    display: none ;
  }
  .sunimg{
    display: block;
    width: 100%;

  }
  .offcanvas{
    max-width: 300px;
  }
  
  .content-des {
    padding: 15px;
    font-size: 16px;

}
  .footerbutton{
    flex-direction: column;
    align-items: center; 
    gap: 10px;
    /* margin-top: 1rem; Adjust the top margin for spacing in mobile view */

  }
  .footer-details{
    padding: 15px;
    flex-direction: column;
  }
  .footer-img{
    width: 350px;
  }
  .footerContent{
    font-size: 16px;
    width: 340px;
  }

  .footerlist {
    flex-direction: column;
    width: 200px;
  }
  .footerlist p{
    font-size: 18px;
  }
  .secondlist{
    margin-left: 0px;
  }
  .footerkey,.footerget,.footerfollow{
    font-size: 25px;
    width: 200px;
  }
 
 .plocation,.pemail{
  width: 300px;
  font-size: 18px;
 }
 .footerimages1{
   display: flex;
   flex-direction: row;
 }
  .hyd,.bag{
    width: 50%;
  }
  .main-content1{
    flex-direction: column;
    padding: 1px;
  }
  .main-content2{
    flex-direction: column;
  }
  .navmenu span{
    display: none;
  }
}
@media screen and (max-width: 900px) {
  
  .footer-details{
    padding: 15px;
  }
  .footer-img{
    width: 190px;
  }
  .footerContent{
    font-size: 12px;
    width: 210px;
  }

  .footerlist {
    width: 250px;
    margin-left: 25px;
  }
  .footerlist p{
    font-size: 12px;
  }
  .footerkey,.footerget,.footerfollow{
    font-size: 14px;
    width: 100px;
    margin-left: 10px;
  }
 .plocation,.pemail{
  width: 190px;
  font-size: 12px;
 }
 .footerimages{
  width: 250px;
 }
 .offcanvas{
  max-width: 300px;
}
}